<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxaRN5Fxt6gTpMlWLIdTe4PwjM4kzu3LU</string>
	<key>GCM_SENDER_ID</key>
	<string>429875227529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fruitOrder.com</string>
	<key>PROJECT_ID</key>
	<string>fruitorder1</string>
	<key>STORAGE_BUCKET</key>
	<string>fruitorder1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429875227529:ios:abcdd52b54aba804a60f58</string>
</dict>
</plist>